*{
    margin: 0;
    padding: 0;
}
html{
    height: 100vh;
    font-family: "Arial";
    background: #FFF;
}
p{
    font-size: 24px;
    margin-bottom: 2px;
}
h3{
    font-size: 30px;
}
h2{
    font-size: 40px;
    gap: 10px;
    font-weight: 200;
    font-family: "Inter";
    margin-bottom: 30px;
}
h1{
    font-family: "Inter";
    line-height: normal;
    font-size: 100px;
    margin-bottom: 30px;
}
#descrip{
    font-family: "Arial";
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 80%;
}

#navbar{
    display: flex;
    margin-left: 70%;
    width: 30%;
    gap: 15%;
}
#navbar p{
    padding-top: 45px;
    font-family: "Inter";
}
#heading{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: 50%;
    margin-left: 10%;
}
#imageHeading{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
#firstItemText{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    width: 80%;
    gap: 15px;
    font-family: "Inter";
}
#firstItemText > h1{
    margin-bottom: 0px;
    padding-top: 6%;
    font-size: 68px;
}
#secondItemText > h1{
    padding-top: 0%;
}
#firstItemText > p{
    font-size: 20px;
}
#firstItem{
    display: flex;
    height: 1000px;
}
#images1{
    margin-top: 30px;
    display: flex;
    height: 30%;
}
.underline{
    text-decoration: underline;
}
#gradient{
    background: linear-gradient(-45deg, #33c9ff, #ffffff);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	height: 100vh;
}
#image2hw{
    margin-right: 15%;
}
#secondItemText{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 15px;
    font-family: "Inter";
}
#secondItemText > h1{
    margin-bottom: 0px;
    font-size: 68px;
}
#secondItemText > p{
    font-size: 20px;
}
#secondItem{
    display: flex;
    margin-left: 10%;
    gap: 10%;
    margin-right: 10%;
    padding-bottom: 10%;
}
#thirdItem{
    display: flex;
    margin-left: 10%;
    gap: 10%;
    margin-right: 10%;
    padding-bottom: 20%;
}
#thirdItemText{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 15px;
    font-family: "Inter";
}
#thirdItemText > h1{
    margin-bottom: 0px;
    font-size: 68px;
}
#thirdItemText > p{
    font-size: 20px;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
a{
    text-decoration: none;
}
a{
    color: black;
}
a:visited{
    color: black;
}
#navbar > #work{
    border-bottom: 2px solid black;
}

#korean{
    width: 500px;
    height: 250px;
}
#koreavideo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: "Inter";
}
#koreavideo p{
    font-size: 15px;
}